{% extends 'portal/base_portal.html' %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block portal_content %}
    <h2>¿Olvidaste tu contraseña?</h2>
    <p>Ingresa tu número de documento y te enviaremos instrucciones para establecer una nueva contraseña.</p>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_email" class="form-label">Correo Electrónico:</label>
            <input type="email" name="email" class="form-control" required id="id_email">
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary">Enviar enlace de restablecimiento</button>
        </div>
    </form>
{% endblock %}