{% extends 'portal/base_portal.html' %}

{% block title %}Establecer Nueva Contraseña{% endblock %}

{% block portal_content %}
    {% if validlink %}
        <h2>Establecer Nueva Contraseña</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Cambiar mi contraseña</button>
            </div>
        </form>
    {% else %}
        <h2>Enlace Inválido</h2>
        <p>El enlace para restablecer la contraseña es inválido, posiblemente porque ya ha sido utilizado. Por favor, solicita un nuevo restablecimiento de contraseña.</p>
    {% endif %}
{% endblock %}